.casino .popular {
  margin-top: 20px;
  background: var(--bg2);
  color: var(--col2);
}

.casino .popular-title {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}

.casino .popular-title > span {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  opacity: 0.9;
}
.casino .popular-title button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 32px;
  min-width: 32px;
  border: none;
  border-radius: 16px;
  background-color: var(--accent-bg);
  color: var(--accent-col);
  box-shadow: inset 0 -2px 0 0 #00000052, 1px 2px 4px 0 #00000038;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  cursor: pointer;
  padding: 0 16px;
  margin-right: 10px;
  font-weight: 600;
  font-size: 13px;
  text-transform: capitalize;
  overflow: hidden;
  position: relative;
}

.casino .popular-title button i {
  margin-left: 5px;
  font-weight: 600;
  font-size: 13px;
}

.casino .popular--games {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 0 10px;
}

.casino .popular .gameContainer:last-child {
  margin-right: auto;
}

.casino .popular .gameContainer {
  width: calc(100% / 6);
}

.gameContainer {
  width: 100%;
  display: flex;
  flex-flow: column;
  padding: 10px;
  position: relative;
}

.gameContainer .imageContainer {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 2px 1px 11px 1px #0000004a;
  height: 163px;
}

.gameContainer > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  height: 25px;
}

.gameContainer > div:nth-child(2) > span {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.gameContainer > div:nth-child(2) i {
  text-shadow: 0 3px 6px #00000070;
}

.gameContainer img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
  min-height: 160px;
  border: 0;
  background-color: var(--bg1);
  outline: 0;
  transform-origin: center;
  transition: 0.3s;
}

.gameContainer .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000002e;
  display: flex;
  opacity: 0;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(2px);
}

.casino .popular-title button {
  font-weight: normal !important;
}

.casino .popular-title > span {
  font-weight: normal !important;
}

.wave-bg {
  fill: #47565c;
}

.gameContainer .imageContainer:hover .hover {
  display: flex;
  opacity: 1;
}
.gameContainer .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000003b;
  display: flex;
  opacity: 0;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(2px);
}

.gameContainer .hover i {
  cursor: pointer;
}

i.fas.fa-play-circle.fa-3x {
  color: #ffffff;
}

.casino .filters--search {
  display: flex;
  width: auto;
  height: 48px;
}

.casino .filters--search > div {
  background: var(--bg2);
  color: var(--col2);
  display: flex;
  align-items: center;
  padding: 0;
  position: relative;
  min-width: 190px;
}
.casino .filters--search > div i {
  position: absolute;
  left: 10px;
  pointer-events: none;
}
.casino .filters--search > div input {
  width: auto;
  height: 100%;
  padding-left: 30px;
  width: 100%;
  background: transparent;
  border: 0;
  color: var(--col2);
  outline: 0;
}

.casino .filters--search > button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: transparent;
  border: 0;
  padding: 0 15px;
  background: var(--bg2);
  color: var(--col2);
  cursor: pointer;
  border-left: 1px solid var(--borderColor1-1);
  margin-left: 1px;
}
.casino .filters--search > button i {
  margin-left: 10px;
}

.gameSlider {
  display: flex;
  flex-flow: column;
}

.gameSlider--title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 10px;
}
.gameSlider--title > i {
  font-size: 35px;
  color: #ff1d1d;
  margin-right: 15px;
}

.gameSlider--title > span {
  font-size: 20px;
  display: flex;
  flex-flow: column;
}

.gameSlider--title > div {
  margin-left: auto;
}

.gameSlider--title > div i:first-child {
  margin-right: 15px;
}

.gameSlider--games {
  .slick-slide img {
    height: 320px;
    width: 345px;
  }

  .gameContainer .imageContainer {
    height: unset !important;
  }
  .slick-slide {
    width: 345px !important;
  }
}

.casino .category {
  display: flex;
  flex-flow: column;
  margin-top: 20px;
}

.casino .category-title {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}

.casino .category-games {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  padding: 0;
}

.casino .category-title > span {
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 1px;
  opacity: 0.9;
}

.casino .category-title button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 32px;
  min-width: 32px;
  border: none;
  border-radius: 16px;
  background-color: var(--accent-bg);
  color: var(--accent-col);
  box-shadow: inset 0 -2px 0 0 #00000052, 1px 2px 4px 0 #00000038;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  cursor: pointer;
  padding: 0 16px;
  margin-right: 10px;
  font-weight: normal;
  font-size: 13px;
  text-transform: capitalize;
  overflow: hidden;
  position: relative;
}
.casino .category .gameContainer {
  width: calc(100% / 6);
}
