.casino .popular {
  margin-top: 20px;
  background: var(--bg2);
  color: var(--col2);
}

.casino .popular-title {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}

.casino .popular-title > span {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  opacity: 0.9;
}
.casino .popular-title button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 32px;
  min-width: 32px;
  border: none;
  border-radius: 16px;
  background-color: var(--accent-bg);
  color: var(--accent-col);
  box-shadow: inset 0 -2px 0 0 #00000052, 1px 2px 4px 0 #00000038;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  cursor: pointer;
  padding: 0 16px;
  margin-right: 10px;
  font-weight: 600;
  font-size: 13px;
  text-transform: capitalize;
  overflow: hidden;
  position: relative;
}

.casino .popular-title button i {
  margin-left: 5px;
  font-weight: 600;
  font-size: 13px;
}

.casino .popular--games {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 0 10px;
}

.casino .popular .gameContainer:last-child {
  margin-right: auto;
}

.casino .popular .gameContainer {
  width: calc(100% / 6);
}

.gameContainer {
  width: 100%;
  display: flex;
  flex-flow: column;
  padding: 10px;
  position: relative;
}

.gameContainer .imageContainer {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 2px 1px 11px 1px #0000004a;
  height: 163px;
}

.gameContainer > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  height: 25px;
}

.gameContainer > div:nth-child(2) > span {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.gameContainer > div:nth-child(2) i {
  text-shadow: 0 3px 6px #00000070;
}

.gameContainer img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
  min-height: 160px;
  border: 0;
  background-color: var(--bg1);
  outline: 0;
  transform-origin: center;
  transition: 0.3s;
}

.gameContainer .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000002e;
  display: flex;
  opacity: 0;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(2px);
}

.casino .popular-title button {
  font-weight: normal !important;
}

.casino .popular-title > span {
  font-weight: normal !important;
}

.wave-bg {
  fill: #47565c;
}

.gameContainer .imageContainer:hover .hover {
  display: flex;
  opacity: 1;
}
.gameContainer .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000003b;
  display: flex;
  opacity: 0;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(2px);
}

.gameContainer .hover i {
  cursor: pointer;
}

i.fas.fa-play-circle.fa-3x {
  color: #ffffff;
}

.casino .filters--search {
  display: flex;
  width: auto;
  height: 48px;
}

.casino .filters--search > div {
  background: var(--bg2);
  color: var(--col2);
  display: flex;
  align-items: center;
  padding: 0;
  position: relative;
  min-width: 190px;
}
.casino .filters--search > div i {
  position: absolute;
  left: 10px;
  pointer-events: none;
}
.casino .filters--search > div input {
  width: auto;
  height: 100%;
  padding-left: 30px;
  width: 100%;
  background: transparent;
  border: 0;
  color: var(--col2);
  outline: 0;
}

.casino .filters--search > button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: transparent;
  border: 0;
  padding: 0 15px;
  background: var(--bg2);
  color: var(--col2);
  cursor: pointer;
  border-left: 1px solid var(--borderColor1-1);
  margin-left: 1px;
}
.casino .filters--search > button i {
  margin-left: 10px;
}

.gameSlider {
  display: flex;
  flex-flow: column;
}

.gameSlider--title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 10px;
}
.gameSlider--title > i {
  font-size: 35px;
  color: #ff1d1d;
  margin-right: 15px;
}

.gameSlider--title > span {
  font-size: 20px;
  display: flex;
  flex-flow: column;
}

.gameSlider--title > div {
  margin-left: auto;
}

.filters__btn > i {
  margin-left: 10px;
}

.gameSlider--title > div i:first-child {
  margin-right: 15px;
}

.tournaments {
  .gameSlider--games {
    .slick-slide img {
      height: 320px;
      width: 345px;
    }

    .gameContainer .imageContainer {
      height: unset !important;
    }
    .slick-slide {
      width: 345px !important;
    }
  }
}

.casino .category {
  display: flex;
  flex-flow: column;
  margin-top: 20px;
}

.casino .category-title {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}

.casino .category-games {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  padding: 0;
}

.casino .category-title > span {
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 1px;
  opacity: 0.9;
}
.gameSlider--title {
  margin-top: 30px;
}

.casinoSearch--top button:hover {
  background: #52a6af;
}

.casino .category-title button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 32px;
  min-width: 32px;
  border: none;
  border-radius: 16px;
  background-color: var(--accent-bg);
  color: var(--accent-col);
  box-shadow: inset 0 -2px 0 0 #00000052, 1px 2px 4px 0 #00000038;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  cursor: pointer;
  padding: 0 16px;
  margin-right: 10px;
  font-weight: normal;
  font-size: 13px;
  text-transform: capitalize;
  overflow: hidden;
  position: relative;
}
.casino .category .gameContainer {
  width: calc(100% / 6);
}

.casinoSearch--top input::placeholder {
  color: black;
}
.loadMore {
  margin: 20px auto;
  width: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border: 0;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

.loadMore i {
  font-size: 16px;
  color: var(--accent);
  margin-bottom: 5px;
}

.loadMore span {
  color: var(--col0);
  margin-bottom: 30px;
}

.providerContainer {
  display: flex;
  flex-flow: column;
  padding: 10px;
  overflow: hidden;
  margin-bottom: 50px;
}

.providerContainer > img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  min-height: 190px;
}

.providerContainer--bottom {
  display: flex;
  height: 73px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: var(--bg2);
  color: var(--col2);
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.providerContainer--bottom > div {
  display: flex;
  flex-flow: column;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
}

.providerContainer--bottom button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 46px;
  background-color: var(--accent-bg);
  color: var(--accent-col);
  box-shadow: inset 0 -2px 0 0 #00000052, 1px 2px 4px 0 #00000038;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  cursor: pointer;
  padding: 0 16px;
  margin-right: 10px;
  font-weight: 600;
  font-size: 13px;
  text-transform: capitalize;
}

.providerContainer--bottom > div > span:first-child {
  font-size: 18px;
  font-weight: 600;
  color: #52a6af;
}

.providerContainer--bottom > div > span:last-child {
  font-style: 12px;
  font-weight: 300;
  margin-top: 3px;
}

.gameSlider.providers .gameSlider--title > i {
  color: #ad7ada;
}

.gameSlider.providers.content-m {
  margin-top: 100px;
}

.gameSlider--title i {
  cursor: pointer;
}

.FilterLabel {
  position: absolute;
  right: 0;
  top: 0%;
  transform: translateY(-10px) translateX(10px);
  font-size: 10px;
  color: var(--accent);
  text-transform: uppercase;
}

.casino .filters--categories > span:hover {
  border-image: linear-gradient(
      to right,
      var(--col) 60%,
      transparent 32%,
      transparent 67%,
      var(--col) 53%,
      var(--col) 80%,
      transparent 61%,
      transparent 88%,
      transparent 83%,
      var(--col) 90%,
      var(--col) 100%
    )
    1;
  opacity: 1;
}

.filters--categories .active i.fa.fa-heart {
  font-weight: bold;
}
.filters--categories i.fa.fa-heart {
  font-weight: normal;
}

.EmptyFavList i {
  font-size: 20px;
  margin-right: 10px;
}

.EmptyFavList span {
  font-size: 20px;
}

.casino .filters--search > div input {
  cursor: pointer !important;
}

.casinoSearch {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000bd;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  height: 100vh !important;
}

.casinoSearch .wrapper {
  width: 100%;
  max-width: 80%;
  height: 80vh;
  background-color: #2a373d;
  color: #fff;
  display: flex;
  flex-flow: column;
}

.casinoSearch--top {
  background-color: #fff;
  color: #222;
  width: 100%;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  align-items: stretch;
  position: relative;
  box-shadow: 0px 10px 10px -6px #00000061;
  z-index: 2;
}

.casinoSearch--inner {
  flex-grow: 1;
  overflow-y: scroll;
  display: flex;
}

.casinoSearch--top .fa-search {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.casinoSearch--top input {
  flex-grow: 1;
  border: 0;
  outline: 0;
  background: transparent;
  padding: 0 30px;
}

.casinoSearch--top button {
  border: 0;
  background: transparent;
  display: flex;
  padding: 0 5px;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  height: 100%;
  width: 100%;
  max-width: 100px;
  border-left: 1px solid #ccc;
}

.casinoSearch--top i,
.casinoSearch--top .count {
  display: flex;
  align-items: center;
}

.casinoSearch--top .count {
  position: absolute;
  right: 10px;
  top: 10px;
  background: #268bd2;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  right: 5px;
  transition: 0.5s;
}

.casinoSearch--top .close {
  position: absolute;
  right: -30px;
  top: -30px;
  color: #fff;
  font-weight: 300;
  font-size: 25px;
  cursor: pointer;
}

.casinoSearch--top i,
.casinoSearch--top .count {
  display: flex;
  align-items: center;
}

.casinoSearch--inner .left {
  display: flex;
  flex-flow: row wrap;
  width: calc(100% - 320px);
  flex-grow: 1;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 10px;
  padding: 0 10px;
}

.casinoSearch--inner .right {
  width: 320px;
  flex-shrink: 0;
  top: 0;
  background: #3c494e;
  color: #fff;
  box-shadow: -8px 2px 12px -6px #000;
  position: sticky;
  z-index: 1;
  padding-bottom: 30px;
  overflow-y: scroll;
  padding-bottom: 30px;
}

.casinoSearch--inner .left .filterResults {
  --col: #f6ae2d;
  display: flex;
  width: calc(100% + 20px);
  margin-left: -10px;
  grid-column: 1/-1;
  padding: 10px 0;
  flex-flow: column;
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--bg0);
  color: var(--col0);
  height: auto;
  box-shadow: 0px 10px 10px -6px #00000061;
  z-index: 2;
}

.casinoSearch--inner .left .gameContainer {
  width: 100%;
  padding: 0;
}

.casinoSearch--inner .left .filterResults .topCat {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 0 15px;
}

.casinoSearch--inner .left .filterResults .topCat span.active {
  border-bottom: 2px solid;
  border-image: linear-gradient(
      to right,
      var(--col) 60%,
      transparent 32%,
      transparent 67%,
      var(--col) 53%,
      var(--col) 80%,
      transparent 61%,
      transparent 88%,
      transparent 83%,
      var(--col) 90%,
      var(--col) 100%
    )
    1;
  opacity: 1;
}

.casinoSearch--inner .left .filterResults .topCat span {
  padding: 5px;
  cursor: pointer;
  margin-right: 10px;
  border-bottom: 2px solid transparent;
  opacity: 0.8;
}

.casinoSearch--inner .right h2 {
  height: 50px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 300;
}
.providersWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0 15px;
  overflow-y: auto;
  height: auto;
  align-content: flex-start;
}

.casinoSearch--inner .right h2 {
  height: 50px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 300;
}

.providersWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0 15px;
  overflow-y: auto;
  height: auto;
  align-content: flex-start;
}

.providersWrapper > span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  height: 24px;
  background: #fff;
  color: #000;
  border-radius: 20px;
  margin: 3px;
  flex-grow: 0;
  flex-shrink: 0;
  cursor: pointer;
  transition: 0.3s;
  overflow: hidden;
  flex-grow: 1;
  font-size: 12px;
  text-transform: uppercase;
}
.providersWrapper > span:hover {
  background: #52a6af;
  color: #222;
}

.providersWrapper > span.active {
  background: #52a6af;
  color: #222;
}

.v-futball {
  color: #00b800 !important;
}
.casinoSearch--inner .left .filterResults .bottCat {
  display: flex;
  padding: 0 15px;
  justify-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 15px;
  padding-bottom: 5px;
}

.casinoSearch--inner .left .filterResults .bottCat > span {
  background: #00000042;
  height: 28px;
  border-radius: 20px;
  display: flex;
  padding: 0 10px;
  display: flex;
  align-items: center;
  margin-right: 5px;
  cursor: pointer;
  flex-grow: 0;
  text-transform: capitalize;
  flex-shrink: 0;
}

.casinoSearch--inner .left .filterResults .bottCat > span i {
  margin-left: 5px;
  transition: 0.3s;
}

.casinoSearch--inner .left .loadMore {
  grid-column: 1/-1;
}

.casinoSearch--inner .left .filterResults .bottCat > span:hover {
  background: #7b0000;
  transition: 0.3s;
}
