::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: #888;
}

::-webkit-scrollbar-thumb {
  background: #1ab7af;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
